* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    --logo-blue: #6ee2f5;
    --blue: #5D4FDC;
    --steel: #dbdeea;
    --grey: #95BBCB;
}

body {
    background-color: var(--steel);

}

h1, h2, h3, h4, h5, h6 {
    color: rgb(78, 78, 78);
}

.hidden {
    display: none;
}

header {
    background: transparent !important;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 10px var(--logo-blue);
    z-index: 999;
}

/* nav {
    background-color: var(--steel) !important;
}

nav > div{
    background-color: var(--steel) !important;
    color: white !important;
    
} */

.navbar-brand {
    width: 20%
}

.navbar-nav {
    font-size: 30px;
    margin-left: 4%;
}

.navbar-nav > li > a {
    padding: 0 2% 0;
}

.navbar-text {
    margin-right: 3%;
    width: 30%;
}

.media-link {
    padding: 0 5% 0;
}

.logo {
    width: 100%;
}

.hero {
    min-height: 727px;
    /* height: 45.5rem; */
    /* min-height: 500%; */
    /* border: 1px solid blue; */
    background-image:url(images/brick_gif.gif);
    background-size: contain;
    background-repeat: no-repeat; 
}

section {
    /* min-height: 400px; */
}

.brick-sect {

}

.brick-sect h1 {

}

.brick-video {
    border: 1px solid black;
    z-index: -1;
}